
.DateInput {
    width: 128px;
    padding: 5px 4px 3px 4px;
}

.DateInput_input {
    font-size: 16px;
    line-height: 16px;
    padding: 0px 0px;
    text-align: center;
}

.DateRangePickerInput_arrow_svg {
    height: 20px;
}

.range_btn {
    float: right;
    z-index: 1;
    margin: 44px 120px 0 0;
}

.DateRangePicker_picker {
    z-index: 5
}

